.cardCourse{
    
    width:100%;
    li{
        padding:12px;
        border:1px solid #CDDDCD;
        margin: 0 0 -1px -1px;
    }
    div{
        display:flex;
        justify-content: space-between;

    }
    p{
        display:inline-block
    }
}



.cardMessage{
    img{
    width: 40px;
    height: 40px;
    border-radius: 24px;
    }
    p{
        span{
            color:#2A8356;
            background-color:#EDF4EE;
            padding:0 4px;
        }
    }
    .cardHeader{
    padding:12px 0;
    }
    .btn{
        padding:10px 16px 10px 12px; 
    }
    .toolBar{
        padding:18px 24px;
        a{
            &:hover{
                color:#121212
            }
        }
    }
    textarea{
        height:220px; 
        resize: none;
    }
}