.sideBar{
    min-width:296px;
    .logo{      
        a{
            width: 232px;
            height: 48px;
            background:url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/b14c36c49306e988a18b8aa95c9dd0892e490e27/week5/logo-ANSWER.svg") no-repeat center;
            background-size:contain;
            text-indent: 101%;
            white-space: nowrap;
            overflow: hidden;          
        }
    }
}
.sideBar-list{
    a{
        padding:6px 32px;
        &:hover{
            background-color: #CDDDCD;
        }        
    }      
}

.sidebarBottom{
    img{
        width: 40px;
        height: 40px;
        border-radius: 24px;
    }
}

.c-header{
    margin-bottom: 12px;
}