////font-family////
.loto-Bo{
    font-family: Lato-Bold;
}


////font-size////
.fz-sm{
    font-size: 0.75rem;
}

.fz-msg{
    font-size: 14px;
}

.fz-l{
    font-size: 24px;
}

.w-100{
    width: 100%;
}

.h-100{
  height: 100%  
}

.lh-sm {
    line-height: 1.18;
}

.p-gap{
    padding:0.25rem 0.5rem
}

.btn-deactivate{
    border:1px solid #E3006E;
    color:#E3006E;
    &:hover{
        color:#E3006E;
    }
}

.warn{
    color:#E3006E
}

.btn-warn{
    border:1px solid #E3006E;
    color:#E3006E;
    &:hover{
        color:#ffffff;
        background-color:#E3006E ;
    }
}